@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --white: #ffffff;
  --background-color: #270082;
  --btn-color: #ff0000;
  --btn-hover-color:#000;
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
/* navbar started */
.navbar{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: var(--background-color);
    height: 100px;
}
.logo{
    font-size: 3rem;
    color: var(--white);
    margin-right: 20px;
    text-transform: capitalize;
    
  font-family: "Roboto", sans-serif;
}
.nav-links{
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
}
.nav-links li
{
    list-style: none;
}
.nav-links a{
    font-size: 3rem;
    color: var(--white);
    text-decoration: none;
}
.menu-bar{
    display: none;
    font-size: 3rem;
    color: var(--white);
    padding: 10px 20px;
    margin-top: 15px;
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    background-color: var(--background-color);
  }
  .menu-bar {
    display: block;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 40%;
  }
  .nav-links a {
    font-size: 3rem;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 40%;
  }
  .nav-links a {
    font-size: 3rem;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 50%;
  }
  .nav-links a {
    font-size: 3.5rem;
  }
}
/*  navbar ended */
/* sec-container */
.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  background-image: url('https://mytunes-322.web.app/images/hero_image.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.container-text {

  padding: 20px;
  border-radius: 10px;
}

.container-text h1 {
  font-size: 8rem;
  margin-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
}
.container-text h2{
  font-size: 4rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.container-text h3 {
  font-size: 3rem;
    font-family: "Josefin Sans", sans-serif;
    font-family: 400;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content h3 {
    font-size: 1rem;
  }
}
/* sec container ended */

 .music-sec{
background-color: var(--background-color);
width: 100%;
height: 100vh;
position: relative;
top: 0;
left: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 20px;
color: var(--white);
 }
 .music-sec h1{
  font-size: 8rem;
   font-family: "Josefin Sans", sans-serif;
   font-weight: 400;
 }
  .music-sec h2{
    font-size: 4rem;
  }
  .music-sec h4{
    font-size: 2rem;
     font-family: "Josefin Sans", sans-serif;
     font-weight: 300;
  }
   .music-sec p{
    font-size: 2rem;
     font-family: "Josefin Sans", sans-serif;
   }
   .music-sec button{
    font-size: 2rem;
    padding: 10px 60px; 
     font-family: "Josefin Sans", sans-serif;
     background-color: var(--btn-color);
    
   }
     .music-sec button:hover{
      background-color:var(--btn-hover-color) ;
      color: var(
        --white
      );
     }
      /* @media(max-width:1024px){
      .music-sec h1> h2 > h3 > p{
  font-size: 50%; 
      }
     }   */
        /* music sec ended */
/* play list sec */



.play-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.play-list-img
{

  display: flex;
  justify-content: center;
  align-items: end;
position: relative;
bottom: 12rem;
}
.play-list h3{
    font-size: 4rem;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
 margin-bottom: 5rem;
}
.play-list{
    font-size: 3rem;
  text-align: center;
  padding: 3rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 30px;
  font-weight: 200;
}
@media (max-width: 768px) {
  .play-list-img img {
   width: 95%;
  }
  }
  @media(max-width:768px){
    div img{
      width: 95%;
    }
  }
  div>button{
    padding: 13px 30px;
    background-color: var(--background-color);
    color: var(--white);
    font-size: 1.5rem; 
     font-family: "Josefin Sans", sans-serif;
  }
  /* music-sec completed */
  /* second contanier */
  .second-container {
    background-image: url(video.png);
    background-size: cover;
   width: 100%;
   height: 60vh;
   display: flex;
   justify-content: center;
   align-items: center;

  }
  .second-container-text{
text-align: center;
    /* color: var(--white); */
   
    color: var(--white);
  }
  .second-container-text h2{
    font-size: 4.5rem;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  }
  .second-container-text p {
    font-size: 3.8rem;
    font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  }
  /* .second-container ended */
  /* card sec  */
  .card-sec{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  
  }
  .card-contents 
  {
    margin-top: 20px;
  }
 .card-contents h2{
  font-size: 3rem; 
    font-family: "Josefin Sans", sans-serif;
 }
 .card-contents p{
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
 }
 @media(max-width:764px){
  .card-sec{
    width: 95%;
  }
  .card-img{
    width: 95%;
  }
 }
        .card-btn{
             padding: 13px 30px;
    background-color: var(--background-color);
    color: var(--white);
    font-size: 1.5rem; 
     font-family: "Josefin Sans", sans-serif;
        }
        .card-contents h3{
font-size: 2rem;
font-family: "Josefin Sans", sans-serif;
        }
        /* card sec ended */
        /* footer started */
        footer{
background-color: var(--background-color);
width: 100%;
height: 50vh;
        }
        


